.wrapper {
  padding: 28px 12px;
}

.grid {
  max-width: var(--content-max-width);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 28px;
}

.main {
  min-width: 0;
}

.sidebar {
  min-width: 0;
}

@media (min-width: 768px) {
  .wrapper {
    padding: 44px 24px 30px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 46px 56px 34px;
  }

  .grid {
    flex-direction: row;
    align-items: flex-start;
    gap: 42px;
  }

  .main {
    flex: 1 1 auto;
  }

  .sidebar {
    flex: 0 0 300px;
    display: flex;
    justify-content: center;
  }
}
