html {
  background: linear-gradient(90deg, #6f7ddf 0%, #37b8aa 100%);
}

body {
  margin: 0;
  min-height: 100vh;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
